/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
// @import '~@angular/material/theming';

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

// custom global styles

.mat-drawer-content.mat-sidenav-content {
  background-color: #edede4;
}

table {
  width: 100%;
}

.table-header-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 30px;
  min-width: 1000px;

  &--apart-items {
    justify-content: space-between;
  }
}

.mdc-data-table__row {
  cursor: pointer;
}

label[header-label] {
  font-size: 1.2rem;
  font-weight: 500;
  color: #000;
  margin-bottom: 0.5rem;
}

.back-fab-button {
  margin-right: 10px;
}

.row {
  display: flex;
  gap: 10px;

  mat-form-field {
    width: 100%;
  }
}

.form-action {
  margin-top: 20px;

  button {
    flex: 1;
  }

  button:first-child,
  button:nth-child(2) {
    margin-right: 10px;
  }

  .mat-mdc-dialog-content.mdc-dialog__content.content {
    min-height: calc(100vh - 200px);
    max-height: 100vh;
    overflow: visible;
  }
}

.mat-mdc-dialog-container.mdc-dialog.cdk-dialog-container.mdc-dialog--open {
  max-height: 25vh !important;
}

.mat-divider.mat-divider-horizontal {
  margin-bottom: 10px;
}
