<div class="table-header-row table-header-row--apart-items">
  <label header-label for="">Individual List</label>
  <button mat-raised-button (click)="addIndividual()" color="primary"> Add New </button>
</div>

<app-individuals *ngIf="individuals$ | async as individualsData" (pageSizeChangedEmitter)="pageSizeChanged($event)"
  (pageChangedEmitter)="pageChanged($event)" [individualsData]="individualsData" [page]="individualsData.page"
  [pageSize]="individualsData.pageSize"
  [length]="individualsData.total"
  (updateIndividualEmitter)="updateIndividual($event)"></app-individuals>
